<header class="site-header">
    <div class="container">
        <a href="<%- config.fullDomain %>">
            <img src="<%- config.fullDomain %>/images/logo.png" alt="custom start page">
        </a>
    </div>
</header>
