@import '../..//node_modules/react-tabs/style/react-tabs.scss';

@import "components/footer";
@import "components/preview";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
