[submodule "pages/ayrs"]
	path = pages/ayrs
	url = https://github.com/custom-start-page/ayrs.git
[submodule "pages/apollo"]
	path = pages/apollo
	url = https://github.com/custom-start-page/apollo.git
[submodule "pages/defaukt"]
	path = pages/defaukt
	url = https://github.com/custom-start-page/defaukt.git
[submodule "pages/distract"]
	path = pages/distract
	url = https://github.com/custom-start-page/distract.git
[submodule "pages/minimum-viable-startpage"]
	path = pages/minimum-viable-startpage
	url = https://github.com/custom-start-page/minimum-viable-startpage.git
[submodule "pages/sui"]
	path = pages/sui
	url = https://github.com/custom-start-page/sui.git
[submodule "pages/tilde-enhanced"]
	path = pages/tilde-enhanced
	url = https://github.com/custom-start-page/tilde-enhanced.git
[submodule "pages/jazz"]
	path = pages/jazz
	url = https://github.com/custom-start-page/jazz.git
[submodule "pages/retro-crt-startpage"]
	path = pages/retro-crt-startpage
	url = https://github.com/custom-start-page/retro-crt-startpage.git
