<div class="container">
    <header class="page-header">
        <h1>Edit</h1>
        <p>Customise your page with your favourite links or maybe even a background image. These options change depending on which page you've chosen.</p>
    </header>
    <div id="form"></div>
    <footer class="page-header"></footer>
</div>
<% include ./partials/scripts %>
<script src="<%- config.fullDomain %>/js/dependencies/react-jsonschema-form.js"></script>
<script src="<%- config.fullDomain %>/js/shared/storage.min.js"></script>
<script src="<%- config.fullDomain %>/js/edit.min.js"></script>
