<div class="container">
    <div class="page-header">
        <h1 class="text-center">Themer</h1>
    </div>
    <p class="text-center">pick a theme</p>
    <div class="row">
        <a href="/start/minimum-viable-startpage/preview" class="col-sm-4">
            <h2>Minimal Viable Startpage</h2>
            <img width="100%" src="https://raw.githubusercontent.com/0-Tikaro/minimum-viable-startpage/master/docs/screenshot.png" />
        </a>
        <a href="/start/tilde-enhanced/preview" class="col-sm-4">
            <h2>Tilde Enhanced</h2>
            <img width="100%" src="https://raw.githubusercontent.com/Ozencb/tilde-enhanced/master/assets/screenshot.png" />
        </a>
        <a href="/start/sui/preview" class="col-sm-4">
            <h2>Sui</h2>
            <img width="100%" src="https://camo.githubusercontent.com/3eb1da4e659aa89a992f94a89790cdd9fa8ce3e9/68747470733a2f2f692e696d6775722e636f6d2f4a3464375133442e706e67" />
        </a>
    </div>
</div>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">"designed" and built by <a href="https://linktr.ee/harvzor" target="_blank">@harvzor</a></div>
        </div>
    </div>
</footer>
