<section class="container">
    <p class="text-center">pick a start page and start customising</p>
    <div class="row">
        <%- include('partials/themes', { themes: themes.slice(0, 6) }) %>
    </div>
</section>
<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-push-3">
                <%- help %>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <p class="text-center">yet more themes</p>
    <div class="row">
        <%- include('partials/themes', { themes: themes.slice(6, themes.length) }) %>
    </div>
</section>
<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-push-3">
                <%- faq %>
            </div>
        </div>
    </div>
</section>
