<div class="container">
    <h1>Pick a theme:</h1>
    <div class="row">
        <a href="/start/minimum-viable-startpage/" class="col-sm-4">
            <h2>Minimal Viable Startpage</h2>
            <img width="100%" src="https://raw.githubusercontent.com/0-Tikaro/minimum-viable-startpage/master/docs/screenshot.png" />
        </a>
        <div class="col-sm-4">
            <h2>Another</h2>
            <img width="100%" src="https://raw.githubusercontent.com/0-Tikaro/minimum-viable-startpage/master/docs/screenshot.png" />
        </div>
        <div class="col-sm-4">
            <h2>Yet Another</h2>
            <img width="100%" src="https://raw.githubusercontent.com/0-Tikaro/minimum-viable-startpage/master/docs/screenshot.png" />
        </div>
    </div>
</div>
