<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
<h1>Custom Start Page</h1>
<h2>Popular pages</h2>
<a href="/@username/ascii-start/overview">Ascii</a>
<h2>My pages</h2>
<a href="/@harvzor/foo/overview">Foo</a>
<div>
    <a href="/new">Create new</a>
</div>
</body>
</html>
