<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
<h1>Custom Start Page</h1>
<h2>New page</h2>
<form>
    <p>The ZIP you upload should contain:</p>
    <ul>
        <li>/index.html</li>
        <li>/manifest/schema.json</li>
        <li>/manifest/preview.png</li>
        <li>/manifest/meta.json</li>
        <li>/manifest/default-data.json</li>
        <li>/manifest/about.md</li>
    </ul>
    <div>
        <label>
            Upload ZIP
            <input type="file">
        </label>
    </div>
    <div>
        <label>
            Upload progress:
            <progress value="100" max="100">100%</progress>
        </label>
    </div>
    <p>Result:</p>
    <ul>
        <li>Name: Ascii Start</li>
        <li>Url: /@username/ascii-start</li>
        <li>Version: 0.0.1</li>
    </ul>
    
    <a href="/@username/ascii-start/overview">Create (your start page won't be published)</a>
</form>
</body>
</html>
