<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
<h1>Custom Start Page</h1>
<a href="upload-new-version">Upload new version</a>
<a href="settings">Settings</a>
<h2>Ascii Start - Overview</h2>
<h3>Readme</h3>
<p>Lorem Ipsum</p>
<h3>Current version</h3>
<ul>
    <li>Name: Ascii Start</li>
    <li>Url: /@username/ascii-start/0.0.1</li>
    <li>Version: 0.0.1</li>
</ul>
<div>
    <a href="0.0.1">View page</a>
    <a href="download/0.0.1">Download</a>
</div>
<h3>Previous versions</h3>
<ul>
    <li>Name: Ascii Start</li>
    <li>Url: /@username/ascii-start/0.0.1-rc1</li>
    <li>Version: 0.0.1-rc1</li>
</ul>
<div>
    <a href="0.0.1-rc1">View page</a>
    <a href="download/0.0.1-rc1">Download</a>
</div>
</body>
</html>
