<section class="container-fluid">
    <p class="text-center">
        preview and edit your start page settings
    </p>
    <div id="preview"></div>
</section>
<% include ./partials/scripts %>
<script src="<%- config.fullDomain %>/js/dependencies/react-tabs.production.min.js"></script>
<script src="<%- config.fullDomain %>/js/preview.min.js"></script>
