<div class="container-fluid">
    <p class="text-center">
        edit and preview your start page
    </p>
    <div id="preview"></div>
</div>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/react-tabs@3/dist/react-tabs.production.min.js"></script>
<script src="<%- config.fullDomain %>/js/preview.min.js"></script>
