<style>
    iframe {
        height:100vh;
        border:0;
    }

    .iframe-preview-container {
        transform:translateY(50%);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="embed-responsive embed-responsive-16by9 iframe-preview-container">
                <iframe id="iframe-preview" class="embed-responsive-item" src="/"></iframe>
            </div>
        </div>
        <iframe class="col-sm-6" src="/edit"></iframe>
    </div>
</div>
<script src="<%- config.fullDomain %>/js/preview.js"></script>
