<div class="container-fluid">
    <p class="text-center">
        edit and preview your start page
    </p>
    <div id="preview"></div>
</div>
<% include ./partials/scripts %>
<script src="<%- config.fullDomain %>/js/dependencies/react-tabs.production.min.js"></script>
<script src="<%- config.fullDomain %>/js/preview.min.js"></script>
