<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<body>
<h1>Custom Start Page</h1>
<h2>Ascii Start - Settings</h2>
<form>
    <button>
        Publish (! this action cannot be undone)
    </button>
    <button>
        Delete (! this action cannot be undone)
    </button>
</form>
</body>
</html>
